*.m2

data/helpers
data/*.gz
data/*.xz
data/*.err
data/*.cor
data/*.ref?
data/*.w3

tools/jfleg
tools/m2scorer
tools/marian-dev
tools/moses-scripts
tools/subword-nmt
tools/__pycache__

mono/sim*

models
